h2 {
	font-family: Georgia ;
	color: Gray;
	text-align: center;
}

p {
    font-family: Georgia ;
    color: black;
    text-align: center;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }


table.center {
}