h1 { font-family: Verdana, Sans-serif;
    color: gray;
}

p { font-size: 18px;
    font-family: Garamond, Serif;
    color: #4A4943;
}
img { height: 100px; 
        width: 300px;
        border: 1px solid #4682b4;
}
a { text-decoration: none;
    color: #cc0000;
}
